 <%if @restaurant == nil %>
  <%= render "no_restaurant" %>
<% else %>
  <div class="title">
    <h3>Your restaurant is:</h3>
    <h1><%= @restaurant["name"] %></h1>
  </div>
  <div class="container">
    <%= render "table" %>
    <% if @photos == nil %>
      <%= render "no_photos" %>
    <% else %>
      <%= render "photos" %>
    <% end %>
    <div class="buttons">
      <%= link_to "More Details", "#{@restaurant_url}", class: "button-nav" %>
      <%= link_to "Start Over", root_path, class: "button-nav" %>
    </div>
  </div>
<% end %>
