<div class="landing">
  <div class="container">
    <div data-controller="replace-kanji">
      <%= simple_form_for :scrapping_params, url: restaurants_path, method: :post, local: true  do |f| %>
        <div>
          <%= f.input :location, label: 'Choose your location' %>
          <%= f.input :category, collection: @categories.keys, label: 'Choose a category', include_blank: false, input_html: { data: { action: 'change->replace-kanji#replace', replace_kanji_target: "cat" }} %>
        </div>
        <%= f.hidden_field :category_kanji, data: { replace_kanji_target: "kanji" } %>
        <%= f.button :submit, 'Find a place!'%>
      <% end %>
    </div>
  </div>
</div>
